/*基本設定*/

* {
    box-sizing: border-box;
    
    padding: 0;
    font-family:sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    line-height: 10px;
    background-color: gray;
    text-align: ;
    position: fixed;
    opacity: 0.7;
}

nav ul>li {
    margin: 3px;
    width: 60px;
    color: 6D4C41;
    border: 1px solid white;      
    text-align: center;    
    list-style-type: none;
    list-style-position: inside;
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}


header {
  
    height: 350px;
    background-image: url(/img/Two-Vintage-Bicycle-Wallpaper-PC.jpg); 
    background-size: cover;
    background-position:bottom;    
    text-align: center;
    color: #ffffff;
    
    
}


header h1{
    margin-top: 0px; 
    font-size: 1.8em;    
    text-align: center;   
}


/*row基本設定*/
.row
{
    
    margin: 2px auto;    
    width: 80%;    
    border: 1px solid black;
    padding: 10px;
    
        
}

.row a{
    text-decoration: none;
    color: dimgrey;
    border: 1px solid black;    
    padding: 6px;
    border-radius:6%;
    
    
}

.row:after {
    content: "";
    clear: both;
    
}

/*col基本設定*/
[class*="col-"] {
    float: left;
    border: 1px solid red;  
}

@media screen and (min-width:992px) {
    .col-md-1 {
        width: calc(100%*1/12);
    }
    .col-md-2 {
        width: calc(100%*2/12);
    }
    .col-md-3 {
        width: calc(100%*3/12);
    }
    .col-md-4 {
        width: calc(100%*4/12);
    }
    .col-md-5 {
        width: calc(100%*5/12);
    }
    .col-md-6 {
        width: calc(100%*6/12);
    }
    .col-md-7 {
        width: calc(100%*7/12);
    }
    .col-md-8 {
        width: calc(100%*8/12);
    }
    .col-md-9 {
        width: calc(100%*9/12);
    }
    .col-md-10 {
        width: calc(100%*10/12);
    }
    .col-md-11 {
        width: calc(100%*11/12);
    }
    .col-md-12 {
        width: calc(100%*12/12);
    }
}


.thumbnail img {
    width: 100%;
    border-radius: 50%;
}

